.mainContainerForm{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    gap: 30px;
    -webkit-box-align: center;
    align-items: center;
    padding: 42px 42px 82px;
    background: linear-gradient(115deg, rgb(106, 180, 43) 0%, rgb(0, 62, 139) 100%);
}
.formTitle{
    font-weight: 500px;
}
.infoInversionesContainer{
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
    gap: 20px;
    -webkit-box-align: center;
    align-items: center;
}

.formContainer{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    gap: 16px;
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
}

.formControl{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
}
.inputWithIcon {
    position: relative;
    display: flex;
    width: 100%;
}
.inputIcon {
    position: absolute;
    left: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: auto;
    pointer-events: none;
}
.labelStyle{
    font-size: 22px;
    font-weight: 700;
    color: var(--bg-gray-inputs);
}

.errorText{
    font-size: 13px;
    color: var(--text-error);
}

.reviewsContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    gap: 20px;
    -webkit-box-align: center;
    align-items: center;
    width: 50%;
}

.formStyle{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    gap: 10px;
    -webkit-box-align: center;
    align-items: center;
    width: 80%;
    max-width: 528px;
    height: auto;
    min-height: 511px;
    padding: 27px 30px;
    position: relative;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background: linear-gradient(124deg, rgba(255, 255, 255, 0.8) 1.06%, rgba(255, 255, 255, 0.4) 92.91%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 2px;
}

.inputStyle {
    width: 90%;
    height: 40px;
    padding: 14px 25px;
    border-radius: 10px;
    border: 1px solid var(--border-input);
    background: var(--bg-input);
    font-weight: 700;
    font-size: 20px;
    outline: none;

}

.inputStylePhone{
    width: 100%;
    font-weight: 700;
    border: none;
    font-size: 20px;
    background: transparent;
    padding: 10px;
    outline: none;

}
.formControlPhone {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;    
}
.divPhone {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
    gap: 6px;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 9px 0px 17px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: var(--text-white);
    color: var(--text-black);
    font-weight: 700;
}
.divPhone::before {
    content: "";
    display: block;
    background: url(https://cdn.ipregistry.co/flags/wikimedia/mx.svg) center center / cover no-repeat;
    width: 38px;
    height: 28.5px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
}

.cardContainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
    align-items: flex-end;
    width: 100%;
    min-height: 244px;
    padding: 7px 9px;
    border-radius: 30px;
    position: relative;
    background: url(https://cmps-blanco.s3.amazonaws.com/pt/panels/solLivre_brasil/assets/bg1-d0f99388.webp) center center / cover no-repeat;
}
.cardContainerTwo{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
    align-items: flex-end;
    width: 100%;
    min-height: 244px;
    padding: 7px 9px px;
    border-radius: 30px;
    position: relative;
    background: url(https://cmps-blanco.s3.amazonaws.com/pt/panels/solLivre_brasil/assets/bg2-c91dabde.webp) center center / cover no-repeat; 
}
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 30px;
    top: 0px;
    left: 0px;
    background: var(--bg-overlay-contact-card);
    z-index: 0;
}

.cardText {
    color: var(--text-white);
    z-index: 1;
    padding: 10px;
    font-weight: 400;
}

.cardImage{
    width: 164px;
    height: 164px;
    border-radius: 50%;
    z-index: 1;
}

.formButton {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    width: 289px;
    height: 68px;
    border-radius: 34px;
    border: 1px solid var(--border-input);
    background: var(--bg-button);
    color: var(--text-white);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 1000px){
    .infoInversionesContainer{
        display: flex;
        flex-direction: column;
    }
    .formContainer{
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .reviewsContainer{
        width: 100%;
    }
    .formStyle{
        min-height: 0;
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .formControl{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 15px;
    }
    .labelStyle{
        align-self: flex-start;
    }
    .formTitle{
        text-align: center;
    }
    .formControlPhone{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        font-size: 15px;
    }
    .divPhone{
        padding: 5px;
    }
    .formStyle{
        width: 100%;
        padding: 15px;
        font-size: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .inputStyle{
        width: 90%;
        padding: 10px 10px;
        font-size: 15px;
        height: 40px;
    }
    .formTitle{
        font-size: 20px;
    }
    .reviewsContainer{
        width: 100%;
    }
    .cardText{
        font-size: 17px;
    }
    .formButton{
        width: 250px;
        height: 63xpx;
        font-size: 15px;
    }
    .cardContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .cardContainerTwo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}