.mainContainer{
    margin-top: 20px;
}
.title{
    text-align: center;
    font-size: 30px;
}
.titleContainer{
    padding: 35px;
    margin: 0 50px;
}
.infoContainer{
    display: flex;
    flex-direction: row;
    padding: 50px;

}
.infoText{
    text-align: justify;
    font-size: 22px;
}
.infoTitle{
    font-size: 30px;
}
.imgSavings{
    width: 450px;
    height: 450px;
    padding: 10px;
}
.beneficiosContainer{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}
.beneficiosImg{
    width: 100%;
    height: 100%;
    background-image: url(https://cmps-blanco.s3.amazonaws.com/pt/panels/solLivre_brasil/assets/people-d01acd50.webp);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    position: absolute;
    z-index: 0;
}
.beneficiosInfoContainer{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-flow: row;
    -webkit-box-align: center;
    align-items: center;
    width: 70.14%;
    height: 100%;
    min-height: 547px;
    background: var(--bg-gray);
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 160px 100%);
    z-index: 1;
}
.lista{
    font-size: 20px;
}
.info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.imgResponsive{
    margin-top: 20px;
    width: 80%;
    display: none;
}
.buttonInfo{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    width: 399px;
    height: 101px;
    color: var(--text-white);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50px;
    background: var(--bg-button);
    box-shadow: var(--box-shadow-button);
}

@media screen and (max-width: 900px){
    .beneficiosContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .beneficiosImg{
        display: none;
        position: absolute;
    }
    .infoContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .beneficiosInfoContainer{
        display: flex;
        flex-flow: row;
        clip-path: none;
        width: 100%;
    }
    .info{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0px;
    }
    .imgResponsive{
        margin-top: 20px;
        width: 80%;
        display: block;
    }
    .buttonInfo{
        width: 200px;
        height: 65px;
    }
}

@media screen and (max-width: 650px){
    .imgSavings{
        padding: 10px;
        width: 300px;
        height: auto;
    }
    .infoTitle{
        padding: 12px;
    }
    .title{
        width: 100%;
        font-size: 22px;
        padding: 0px;
    }
    .titleContainer{
        padding: 0px;
        margin-bottom: 20px;
    }
    .infoText{
        font-size: 17px;
        padding: 10px;
    }
    .beneficiosContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .beneficiosImg{
        display: none;
        position: absolute;
    }
    .infoContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }
    .beneficiosInfoContainer{
        display: flex;
        flex-flow: row;
        clip-path: none;
        width: 100%;
    }
    .lista{
        font-size: 15px;
    }
    .imgResponsive{
        margin-top: 20px;
        width: 90%;
        display: block;
    }
    .buttonInfo{
        width: 150px;
        height: 40px;
        font-size: 15px;
        cursor: pointer;
    }
}


