:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-primary: #505050;
    --text-black: #000;
    --text-white: #FFF;
    --bg-white: #FFFFFF;
    --bg-button: #003E8B;
    --bg-overlay: rgb(0, 0, 0, 0.4);
    --bg-overlay-contact-card: rgb(0, 0, 0, 0.2);
    --bg-gray: #EDEDED;
    --bg-blue-dark: #227DF2;
    --bg-blue-light: #07B0F3;
    --bg-form-button: #1B45BE;
    --bg-red: #C8153C;
    --text-error: #E74C3C;
    --bg-primary: #0420BF;
    --bg-input: #FAFAFA;
    --bg-gray-inputs: #4A4A4A;
    --border-input: #D2D2D2;
    --bg-card: linear-gradient(124deg, rgba(255, 255, 255, 0.60) 1.06%, rgba(255, 255, 255, 0.40) 92.91%);
    --bg-card-form: linear-gradient(90deg, rgba(255,255,255,0.8309917717086834) 25%, rgba(255,255,255,0.8702074579831933) 100%);
    --box-shadow-button: 0px 0px 4px 2px rgba(0, 0, 0, 0.30);
    --box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    --primary-font: 'DM Sans',sans-serif;
    --title-font: 'Doppio One',sans-serif;
    --form-font: 'Source Sans 3',sans-serif;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
}
* {
  margin: 0;
}